*{
    box-sizing: border-box;
}
html,
body{
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h1{
    text-transform: uppercase;
    color: #fff;
    font-size:60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1::after{
    content: "";
    display: block;
    background: red;

    margin: 10px auto;
    width: 50%;
    height: 5px;

}
p{
    font-size: 18px;
    color: #fff;
    padding: 20px;

}
div{
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    background: linear-gradient(60deg,rgba(purple, 0.7),rgba(red,0.5));
}