<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Array Methods
    link(rel="stylesheet", href="css/main.css")
body
    h1 Array methods
    p In this lecture , we will cover Array methods
    div#demo
    div#demo1
    div#demo2
    div#demo3
    script( src="js/main.js")