* {
  box-sizing: border-box; }

html,
body {
  color: #bebebe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(45deg, rgba(135, 206, 235, 0.5), rgba(0, 128, 0, 0.8));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

h1 {
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px green; }

p {
  box-shadow: 2px 2px 10px red;
  padding: 10px;
  color: #fff; }
