<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Document
	link(rel="stylesheet", href="css/main.css")
	meta(name="description" content="Page description. No longer than 155 characters.")
	//- Twitter Card
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@publisher_handle")
	meta(name="twitter:title" content="Page Title")
	meta(name="twitter:description" content="Page description less than 200 characters")
	meta(name="twitter:creator" content="@author_handle")
	//- Sumary card at least 120x120
	meta(name="twitter:image" content="http://www.example.com/image.jpg")
	//- OPEN GRAPH DATA
	meta(property="og:title" content="Title Here" )
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://www.example.com/" )
	meta(property="og:image" content="http://example.com/image.jpg")
	meta(property="og:description" content="Description Here" )
	meta(property="og:site_name" content="Site Name," )
	meta(property="fb:admins" content="Facebook numeric ID")
body
	h1 	DOM Animations
	p#demo In this lecture we will cover de dom animations
	//- DOM ANIMATIONS STAR HERE
	button#button 	Move Over 
	.container
		.animate
	script(src="js/main.js")
