<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Objects more in detail
    link(rel="stylesheet", href="css/main.css")
body
    h1 OBJECTS MORE IN DETAIL CHECK THE CONSOLE 
    P   In this lecture , we will cover  the objects more in detail.
    ul 
        li  //Booleans
        li  //Numbers
        li  //Strings
        li  //Dates
        li  //Maths
        li  // Regular expresions
        li  // Arrays 
        li  //Functions
        li  //Objects
    .primi  
        h2  PRIMITIVES IN JS 
        ul  
            li  *Strings
            li  *Booleans
            li  *Number 
            li  *Null
            li  *Undefined
    script(src="js/main.js")
    