@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif; }

body {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  border: 2px solid skyblue;
  padding: 10px 30px;
  box-shadow: 4px 3px 5px red; }
