<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title The Pepper Hill
    //- google fonts 
    link( href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet")
    //- icon link 
    link(rel="shortcut icon", href="//cdn.shopify.com/s/files/1/0311/7565/t/4/assets/favicon.png?11300727028792425753" type="image/png")
    link(rel="stylesheet", href="css/main.css")
    meta(name="description" content="Page description. No longer than 155 characters.")
    //- Twitter Card 
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@publisher_handle")
    meta(name="twitter:title" content="Page Title")
    meta(name="twitter:description" content="Page description less than 200 characters")
    meta(name="twitter:creator" content="@author_handle")
    //- Sumary card at least 120x120
    meta(name="twitter:image" content="http://www.example.com/image.jpg")
    //- OPEN GRAPH DATA
    meta(property="og:title" content="Title Here" )
    meta(property="og:type" content="article")
    meta(property="og:url" content="http://www.example.com/" )
    meta(property="og:image" content="http://example.com/image.jpg")
    meta(property="og:description" content="Description Here" )
    meta(property="og:site_name" content="Site Name," )
    meta(property="fb:admins" content="Facebook numeric ID")
body
    .home_wraper
        header
            .logo
                a(href="#")
                    img.logo__img(src="https://cdn.shopify.com/s/files/1/0311/7565/t/4/assets/logo.png?11300727028792425753", alt="The Pepper Hill")
            nav.menu
                ul.menu_ul
                    li.menu__li
                        a.menu__link(href="#")  HOME
                    li.menu__li
                        a.menu__link(href="#")  ABOUT US
                    li.menu__li
                        a.menu__link(href="#")  OUR FARM 
                    li.menu__li
                        a.menu__link(href="#")  ONLINE-SHOP
                    li.menu__li
                        a.menu__link(href="#")  BLOG
        .slider 
            h2 ALL NATURAL  
            p   TRADITIONAL , HAND MADE , FAIR
            a.main_btn(href="") View More
    section.product
        .tittle
            h2  UNSERE PFEFFERSORTEN
            p   FEINSTER PFEFFER AUS KAMPOT
        product.product_item
            .product1
                img(src="https://cdn.shopify.com/s/files/1/0996/9900/t/2/assets/PepperComposition-schwarz.jpg?4878927274565372116")
                p   Schwarzer Pfeffer<br/>
                    span DER KLASSIKER
            .product1
                img(src="https://cdn.shopify.com/s/files/1/0996/9900/t/2/assets/PepperComposition-schwarz.jpg?4878927274565372116")
                p   Schwarzer Pfeffer<br/>
                    span DER KLASSIKER
            .product1
                img(src="https://cdn.shopify.com/s/files/1/0996/9900/t/2/assets/PepperComposition-schwarz.jpg?4878927274565372116")
                p   Schwarzer Pfeffer<br/>
                    span DER KLASSIKER
 
    script(src="js/main,js")