* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh; }

header {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("https://source.unsplash.com/OMXPrCAhxrE/1200x1200");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  color: #fff; }

.main {
  min-height: 300px;
  border: 2px solid #000;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 800px;
  padding: 10px 20px; }

.message {
  padding: 20px 5px;
  width: 100%;
  text-align: center; }

.action {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-decoration: none;
  color: #fff;
  background: red;
  padding: 5px 10px;
  margin-top: 20px;
  transition: all 0.5s; }
  .action:hover {
    background: #fff;
    color: red;
    border: 1px solid red; }

.basic {
  background: #263248;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 5px 40px; }
  .basic h2 {
    font-family: 'Lobster', cursive;
    padding: 20px 40px;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 40px; }

.promo {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 20px;
  background: #FF9800;
  padding: 20px 40px;
  color: #333; }

.instructions {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.title {
  padding: 0 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.content {
  padding: 5px 20px;
  max-width: 40%; }
